.movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  
    @media (min-width: 1200px) { 
      gap: 30px;
      justify-content: space-between;
      grid-template-columns: repeat(4, 1fr);
    }
  
    @media (min-width: 992px) and (max-width: 1199px) { 
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 991px) { 
      gap: 10px;
      grid-template-columns: 2fr;
    }
  }
  .company {
    transition: all 0.3s ease-in-out;
  }
  
 
  
  
  .company button {
    transition: all 0.2s ease-in-out; 
    
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
 
  .company button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
  }
  
  
  .company button:active {
    transform: scale(0.95) translateY(2px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #003f7f; 
  }
 
.border-bottom {
    background-color:black;
  }
  
 

  
  @media (max-width: 768px) {
    .search-bar {
    
      margin-bottom: 1rem;
    }
  
    .company {
      text-align: center;
    }
  }
  
  @media (min-width: 769px) {
   
  }
  
@media (max-width: 770px) {
   
    .search-bar {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    
    .company {
      text-align: center;
     
    }
  
    
    .d-flex {
      flex-wrap: wrap;
    }
  
    .form-group {
      flex: 1;
      min-width: 45%; 
    }
  }
  
@media (max-width: 770px) {
    .d-none {
      display: none !important;
    }
  
    .d-md-block {
      display: none !important;
    }
  
    .search-modal {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      background-color: black;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      z-index: 1000;
      border-radius: 10px;
    }
  
    .search-modal-content {
      display: flex;
      align-items: center;
      
    }
  
    .search-modal::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
  }
  @media (min-width: 770px) {
    .search-modal{
        display: none !important;
    }
  }